.app.light {
    --bg-color: #c0eff3;
    --inverted-bg-color: #0c007a;

    
    --primary-color: #0c007a;
    --secondary-color: #0a76f1;
    --inverted-primary-color: #36c300;
    --inverted-secondary-color: #6adb0e;
}